.book .summary {
    .articles {
        margin: 0px;
        padding: 0px;

        list-style: none;

        .article {
            padding: 8px 10px;

            &:hover {
                
            }
        }
    }
}