.book .summary {
    padding: 8px;
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
        margin: 0px;
        margin-bottom: 11px;
        font-size: 18px;
        font-weight: 300;
        color: @summary-color;
    }

    hr {
        border-color: #e1e1e1;
        margin: 0px;
        box-shadow: 0px 1px #fff;
    }

    .inner {
        position: absolute;
        top: 50px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        overflow-y: auto;
    }

    .trash {
        position: absolute;

        bottom: 8px;
        right: 8px;
        left: 8px;

        display: none;

        padding: 10px;
        text-align: center;
        color: @summary-color;
        border: 2px dashed @summary-color;

        .transition(border-color 400ms ease);

        &.dragover {
            border-color: darken(@summary-color, 20%);
        }
    }

    &.with-trash {
        .inner {
            bottom: 60px;
        }

        .trash {
            display: block;
        }
    }

    .articles {
        margin: 0px;
        padding: 0px;

        list-style: none;

        .article {
            position: relative;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &.move,
            &.active.move {
                position: fixed;
                z-index: 100000;
                pointer-events:none;
                background: #fff;
                border: 1px solid @book-color;
                width: 180px;

                .chapter-articles {
                    display: none;
                }

                * {
                    pointer-events:none;
                }
            }

            &.dragover {
                border-top: 2px solid @brand-success;
            }

            .chapter-title {
                padding: 8px 10px;
                display: block;

                &:hover {
                    background: rgba(0,0,0,0.02);
                    border-radius: 3px;
                }
            }

            .chapter-articles {
                margin-left: 16px;
            }

            .chapter-actions {
                position:absolute;

                right: 6px;
                top: 0px;
                height: 36px;
                z-index: 1;

                line-height: 36px;
                .opacity(0);
                .transition(opacity 100ms ease);

                .action {
                    color: @summary-color;
                    .opacity(0.6);
                    margin: 0px 2px;

                    &:hover {
                        text-decoration: none;
                        .opacity(1);
                    }
                }
            }

            &:hover {
                > .chapter-actions {
                    .opacity(1);
                }
            }
        }
    }
}