<div id="homepage">
    <img src="static/images/icons/512.png" class="logo"/>

    <div class="actions">
        <a href="#" class="btn btn-lg btn-default btn-block open-new">Create a new Book</a>
        <hr>
        <input type="file" class="hidden local-file-selector" nwdirectory />
        <a href="#" class="btn btn-lg btn-default btn-block open-local">Open Local Repository</a>
        <a href="#" class="btn btn-lg btn-default btn-block open-github">Open GitHub Repository</a>
    </div>
</div>