#homepage {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    padding: 50px 10px;

    text-align: center;

    background: #2b303b;

    .logo {
        width: 128px;
        opacity: 0.6;
    }

    .actions {
        width: 100%;
        max-width: 300px;
        margin: 30px auto;

        hr {
            margin: 20px 140px;
            border-color: #4f5b66;
        }

        .btn {
            border: 0px;
            background: #65737e;
            color: #eff1f5;

            &:hover {
                background: #a3be8c;
            }
        }
    }
}